<div class="buttons-container">
    <button class="first" [routerLink]="['/c1']"></button>
    <button class="first" [routerLink]="['']">Home</button>
    <button class="first" [routerLink]="['/ward/1001']">Central - zone</button>
</div>
<button class="third" [routerLink]="['/locality/2001']">Ward1 - ward</button>
<!-- <button class="forth" [routerLink]="['/c1']">c1 - cluster</button> -->
<button class="five" [routerLink]="['/street']">Street-1 street</button>
<div class="Heading">
    Street Dashboard
</div>
<div class="datepicker">
    <div class="text">
        Select Date Range
    </div>
    <div class="value">
        <mat-form-field style="    width: 169px;
        height: 65px;
        margin-top: 3px;">
            <mat-label >Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>
      
</div>
<!-- <div class="ddddd">
    <input class="search" type="text" [(ngModel)]="searchTerm" placeholder ="Search">
    
    <input class="search2" type="text" [(ngModel)]="searchTerm" placeholder ="Search">
    <input class="search2" type="text" [(ngModel)]="searchTerm" placeholder ="Search">
    <button   class = "second"(click)="search()">Search</button>
</div> -->




